  <div class="row mr-1 ml-1">
      <horizontal-timeline class="col-sm-12" [timelineElements]="timeline" [showContent]="true"></horizontal-timeline>
  </div>
  <hr>
  <div class="row mr-1 ml-1">
  <div class="mt-2 col-sm-12" style="height:300px">   
          <mwl-demo-utils-calendar-header
            [(view)]="view"
            [(viewDate)]="viewDate">
          </mwl-demo-utils-calendar-header>
          
          <div [ngSwitch]="view">
            <mwl-calendar-month-view
              *ngSwitchCase="'month'"
              [viewDate]="viewDate"
              [events]="events"
              [activeDayIsOpen]="activeDayIsOpen"
              (dayClicked)="dayClicked($event.day)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
              *ngSwitchCase="'week'"
              [viewDate]="viewDate"
              [events]="events">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
              *ngSwitchCase="'day'"
              [viewDate]="viewDate"
              [events]="events">
            </mwl-calendar-day-view>
          </div>
          <div class="mt-5 border mb-5" style="width:100%; height:auto;">
              <div class="border p-3" style="background-color: #ADD8E6">
                <div class="row mr-1 ml-1">
                    <div class="mt-2 col-sm-6">   
                          <h2 class="mr-0" style="width:max-content">Deliverables</h2>
                    </div>
                    <div class="mt-2 col-sm-6">   
                        <label class="upload-button"  style="float:right">
                          <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
                        </label>
                  </div>
                </div>
              </div>


            <ul class="ml-5 pb-2">
              <li  *ngFor="let deliverable of deliverableList" style="font-size:20px" class="pt-3">{{deliverable.name}}
                <span (click)="removeDeliv(deliverable.id)" class="ml-3"><i class="fa fa-times" aria-hidden="true"></i>
              </span></li>
            </ul>


          </div>
  
  </div>
  
  
  </div>
  