<div class="solid-border-medium header-background-color pb-2" style="min-width:1500px">
 
    <div class="row mr-1 ml-1">
        <div class="mt-2 col-4">   
                <div class="mb-3 ml-3" ><h3 class="mb-0 mt-3" style="word-wrap: normal">Project Site</h3></div>
                <button class="btn btn-primary ml-3" (click)="toggleSidebar()">Project Activites</button>
        </div>
        
        <div class="mt-2 col-4" style="text-align: center">   
                <div class="mb-3 ml-3" ><h1 class="mb-0 mt-3">{{headerText}}</h1></div>
        </div>
        
        <div class="mt-2 col-4 pl-0" >   
                <div style="text-align: right">
                        <img [src]="imgType" alt="Smiley face" height="100" width="320px">
                </div>
                <div style="text-align: right" class="mt-3">
                        <div>Logged in as:<span class="ml-2"><strong>{{loggedinUser}}</strong></span></div>
                </div>
        </div>

</div>


  </div>

