<div [@heroState]="statusAni"  class="border plogin" style="height:50%">
    <div class="row mr-1 ml-1 textCen">
        <div class="col-12">  
            <h1 style="color:white" (click)="toggleState('P')">Protiviti Login</h1> 
        </div>
    </div>
</div>
<div [@heroState2]="statusAni2" class="border clogin" style="height:50%">
    <div class="row mr-1 ml-1 textCen">
        <div class="col-12">  
            <h1 style="color:white" (click)="toggleState()">Client Login</h1> 
        </div>
    </div>
</div>
