<ng-sidebar-container style="height: 100vh;">
        <!-- A sidebar -->
        <ng-sidebar [(opened)]="_opened" [mode]="mode_var" [closeOnClickOutside]="true">
                <div class="demo-sidebar border ml-3" aria-hidden="false" aria-label="My sidebar" style="width:350px; height:100%">
                        <hr>
                        <p (click)="goToLaunchpad()">Launchpad</p>
                        <hr>
                        <p>Planning</p>
                        <hr>
                        <p (click)="goToFieldwork()">Fieldwork</p>
                        <hr>
                        <p>Reporting</p>
                        <hr>
                </div>        
                </ng-sidebar>
  
        <!-- Page content -->
        <div ng-sidebar-content>
          <app-header (showNav)="_toggleSidebar()"></app-header>
          <router-outlet></router-outlet>
        </div>
  
</ng-sidebar-container>