
<div class="row mr-1 ml-1">
  <div class="mt-2 col-sm-12" style="height:300px">   
          <div class="mt-5 mb-5" style="width:100%; height:auto; overflow:auto">
            <div style="width:100%; height:auto">
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" style="min-width:300px" class="btn btn-primary dropdown-toggle">
                      {{dropdownText}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li  style="min-width:300px" (click)="checkRequest('IT')" role="menuitem"><a class="dropdown-item">IT</a></li>
                      <li class="divider dropdown-divider"></li>
                      <li  style="min-width:300px" (click)="checkRequest('FinTech')" role="menuitem"><a class="dropdown-item">FinTech</a>
                      </li>
                    </ul>
                  </div>
                <button type="button" class="btn btn-primary mr-3" style="float:right;" (click)="addForm(docTable)">Add a Document Request</button>
                <button type="button" class="btn btn-primary mr-3" style="float:right;" (click)="openModal(template)">Check Document Status</button>
                <br>
                <form #docTable="ngForm" >
                    <table class="m-5 table" style="width:97%">
                        <tr>
                          <th style="width:100px">Ref#</th>
                          <th style="width:100px">Related System</th>
                          <th style="width:160px">Related Control</th>
                          <th>Control Name</th>
                          <th>Type of Evidence</th>
                          <th>Owner</th>
                          <th>Date Requested</th>
                          <th>Date Due</th>
                          <th>Status</th>
                        </tr>
                        <tr>
                          <td><input type="text" class="form-control" name="ref" ngModel/></td>
                          <td><input type="text" class="form-control" name="relSys" ngModel /></td>
                          <td><input type="text" class="form-control" name="relCon" ngModel/></td>
                          <td><input type="text" class="form-control" name="conName" ngModel/></td>
                          <td><input type="text" class="form-control" name="toe" ngModel/></td>
                          <td><input type="text" class="form-control" name="owner" ngModel/></td>
                          <td><input type="text" class="form-control" name="dateReq" ngModel/></td>
                          <td><input type="text" class="form-control" name="dateDue" ngModel/></td>
                          <td><input type="text" class="form-control" name="status" ngModel/></td>
                        </tr>
                        
                      </table>
  
                      <table class="m-5 table" style="width:97%">
                          <tr>
                            <th>Document Reuqest</th>
                            <th>Comments</th>
                          </tr>
                          <tr>
                            <td><input type="text" class="form-control" name="docReq" ngModel /></td>
                            <td><textarea class="form-control" rows="5" name="comment" ngModel></textarea></td>
                          </tr>
                        </table>
  
                </form>
  
            </div>
            <table class="m-5 table" style="width:97%">
                <tr style="height: 30px">
                  <th>Ref#</th>
                  <th>Related System</th>
                  <th>Related Control</th>
                  <th>Control Name</th>
                  <th>Document Request</th>
                  <th>Type of Evidence</th>
                  <th (click)="filterOwner()">Owner</th>
                  <th (click)="filterDR()">Date Requested</th>
                  <th (click)="filterDD()">Date Due</th>
                  <th (click)="filterStatus()">Status</th>
                  <th>Comments</th>
                  <th>Edit Document Request</th>
                  <th>Delete Document Request</th>

                </tr>
                <tr *ngFor="let doc of docRequestlist" class="border-bottom border-top" >
                  <td>{{doc.Ref}}</td>
                  <td>{{doc.RelatedSystem}}</td>
                  <td>{{doc.RelatedControl}}</td>
                  <td>{{doc.ControlName}}</td>
                  <td>{{doc.DocumentReuqest}}</td>
                  <td>{{doc.TypeofEvidence}}</td>
                  <td>{{doc.Owner}}</td>
                  <td>{{doc.DateRequested}}</td>
                  <td>{{doc.DateDue}}</td>
                  <td>{{doc.Status}}</td>
                  <td>{{doc.Comments}}</td>
                  <td (click)="editDoc(editTemp, doc)"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                  <td (click)="removeDoc(doc)"><i class="fa fa-times" aria-hidden="true"></i></td>

                </tr>
                
                
              </table>
  
  
          </div>
  
  </div>
  
  
  </div>
  
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Document Status</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #checkTable="ngForm">
        <div class="form-group">
          <label for="sel1">Select an owner:</label>
          <select class="form-control" name="ownerSel" ngModel (change)="getdocData(checkTable)">
            <option *ngFor="let doc of uniqueOwners">{{doc.Owner}}</option>
          </select>
          <br>
        </div>
      </form> 
      <table class="m-1 table" style="width:97%">
        <tr style="height: 30px">
          <th>Ref#</th>
          <th>Document Request</th>
          <th>Type of Evidence</th>
          <th>Date Due</th>
          <th>Status</th>
          <th>Comments</th>
        </tr>
        <tr *ngFor="let doc of selectedOwner" class="border-bottom border-top" >
                <td>{{doc.Ref}}</td>
                <td>{{doc.DocumentReuqest}}</td>
                <td>{{doc.TypeofEvidence}}</td>
                <td>{{doc.DateDue}}</td>
                <td>{{doc.Status}}</td>
                <td>{{doc.Comments}}</td>
        </tr>
        
        
      </table>   
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default">Send Request Email</button>
    </div>
  </ng-template>

  <ng-template #editTemp>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Document Request List</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #editdocTable="ngForm" >
        <div class="form-group">
          <label>Ref#</label>
          <input type="text" class="form-control" name="ref" [(ngModel)]="selectedDoc.Ref">
        </div>
        <div class="form-group">
          <label>Related Systems</label>
          <input type="text" class="form-control" name="rs" [(ngModel)]="selectedDoc.RelatedSystem">
        </div>
        <div class="form-group">
          <label>Related Control</label>
          <input type="text" class="form-control" name="rc" [(ngModel)]="selectedDoc.RelatedControl">
        </div>
        <div class="form-group">
          <label>Control Name</label>
          <input type="text" class="form-control" name="cn" [(ngModel)]="selectedDoc.ControlName">
        </div>
        <div class="form-group">
          <label>Type Of Evidence</label>
          <input type="text" class="form-control" name="toe" [(ngModel)]="selectedDoc.TypeofEvidence">
        </div>
        <div class="form-group">
          <label>Owner</label>
          <input type="text" class="form-control" name="owned" [(ngModel)]="selectedDoc.Owner">
        </div>
        <div class="form-group">
          <label>Date Requested</label>
          <input type="text" class="form-control" name="dr" [(ngModel)]="selectedDoc.DateRequested">
        </div>
        <div class="form-group">
          <label>Date Due</label>
          <input type="text" class="form-control" name="dd" [(ngModel)]="selectedDoc.DateDue">
        </div>
        <div class="form-group">
          <label>Status</label>
          <input type="text" class="form-control" name="status" [(ngModel)]="selectedDoc.Status">
        </div>
        <div class="form-group">
          <label>Document Request</label>
          <textarea class="form-control" rows="5" id="comment" name="docR" [(ngModel)]="selectedDoc.DocumentReuqest"></textarea>
        </div>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" rows="5" id="comment" name="coms" [(ngModel)]="selectedDoc.Comments"></textarea>
        </div>
    </form>
  
    </div>
    <div class="modal-footer">
      <button type="button" (click)="saveDoc(editdocTable)" class="btn btn-default">Save</button>
    </div>
  </ng-template>